<footer class="footer">
    <div class="universities">
        <div class="university">
            <img src="images/7.png" alt="University of Toronto Logo" />
        </div>
        <div class="university">
            <img src="images/8.png" alt="Yale Logo" />
        </div>
        <div class="university">
            <img src="images/9.png" alt="Imperial College London Logo" />
        </div>
        <div class="university">
            <img src="images/10.png" alt="University of California Logo" />
        </div>
        <div class="university">
            <img src="images/11.png" alt="NYU Logo" />
        </div>
        <div class="university">
            <img src="images/12.png" alt="McGill Logo" />
        </div>
    </div>
</footer>
