<!-- partials/header.html -->
<header class="header">
    <div class="logo">
        <img src="images/logo.png" alt="IELTS9 Logo" />
    </div>

    <div class="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="course.html">Courses</a></li>
            <li><a href="about.html">About Us</a></li>
            <li class="user-info">
                <!-- Konten ini akan diperbarui melalui JavaScript -->
            </li>
        </ul>
    </nav>
</header>
